.header{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:15%; 
    font-family: 'Gabriela', serif;
    
    
}
.welcome h1{
    padding: .1%;
    margin-top:1%;
}
.welcome p{
    padding: .2%;
  }
#logo{
    margin-top:2%;
    margin-bottom: 3%;
    width: 5vw;
    height: 5vw;
  }
#mouse{
    /* padding-top : 2%; */
    margin-top: 3%;
    /* padding-bottom: 3%;  */
    /* animation-iteration-count: infinite; */
}
#mouse {
    animation: bounce 2s infinite;
}
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:15%; 
    font-family: 'Gabriela', serif;
    
    
}