.header{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
    font-family: 'Gabriela', serif;
    
    
}
.welcome h1{
    padding: .1%;
    margin-top:1%;
}
.welcome p{
    padding: .2%;
  }
#logo{
    margin-top:15%;
    margin-bottom: 3%;
    width: 6vw;
    height: 6vw;
  }
#mouse{
    /* padding-top : 2%; */
    margin-top: 3%;
    margin-bottom: 5%; 
    /* animation-iteration-count: infinite; */
}
#mouse {
    animation: bounce 2s infinite;
}
.about-us{
    text-align: center;
    padding-top:5%; 
    padding-bottom: 5%;
}
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:10%; 
    padding-bottom:10%;
    font-family: 'Gabriela', serif;
}
.services p{
    font-size: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
}
/* WHAT WE DO */
.row .column {
    float: left;
    width: 33.33%;
}
.column .flashcard{
    display: block;

}

.row p{
    font-size: 1.4vw;
}
.what-we-do{
    text-align: center;
    
}
#what{
    display: flex;
}
.flashcard{
    display:inline-flex;
}
.show , .hide{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* portfolio */
.container{
    margin-top: 2%;
}
#portfolio-name{
    text-align: center;
}
#portfolio-row{
   overflow: hidden;
   
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
}
/* CONTACT */
.contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-top:5%; 
    padding-top: 3%;
    padding-bottom: 9%;
    font-family: 'Gabriela', serif;
}
#name, #email, #msg{
    font-size: 1.5vw;
}
 
::placeholder {
    color: #fff;
}
#name , #email{
    display: inline-flex;
    width: 30%;
    background: none;
    color: white;
}
#msg{
    width: 60%;
    background: none;
    color: white; 
    margin-top:2% ;
    margin-left:20%;
}



/* footer */
.social{
    text-align: center;
   
    
}
.social img{
    margin: 1%;
}
.social .year{
    margin-top: -1%;
}