.header{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
    font-family: 'Gabriela', serif;
    
    
}
.welcome h1{
    padding: .1%;
    margin-top:1%;
}
.welcome p{
    padding: .2%;
  }
#logo{
    margin-top:15%;
    margin-bottom: 3%;
    width: 5vw;
    height: 5vw;
  }
#mouse{
    /* padding-top : 2%; */
    margin-top: 8%;
    margin-bottom: 1%; 
    /* animation-iteration-count: infinite; */
}
#mouse {
    animation: bounce 2s infinite;
}
.about-us{
    text-align: center;
    padding-top:5%; 
    padding-bottom: 5%;
}
.services{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:10%; 
    padding-bottom:10%;
    font-family: 'Gabriela', serif;
    
    
}
/* WHAT WE DO */
.what-we-do{
    text-align: center;
    
}
#what{
    margin-top: 5%;
}
/* portfolio */
.container{
    margin-top: 2%;
}
#portfolio-name{
    text-align: center;
}
#portfolio-row{
   overflow: hidden;
   
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
}
/* CONTACT */
.contact{
    
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-top:15%; 
    padding-top: 3%;
    padding-bottom: 9%;
    font-family: 'Gabriela', serif;
}
.form-control{
    color: #fff;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
    font-weight: 500;
}
.your-name , .your-email{
    display: inline-flex;
    width: 30%;
    background: none;
    color: white;
}
.your-msg{
    margin-left: 22%;
}
#msg{
    width: 70%;
    height: 17vw;
}

#msg, #email, #name{
    background: transparent;
    color: white;
}

/* footer */
.social{
    text-align: center;
   
    
}
.social img{
    margin: 1%;
}
.social .year{
    margin-top: -1%;
}